* {
  margin: 0px;
  padding: 0px;
}
.ce6 {
  width: 100%;
  color: #004d88;
}
.productionPublicContain .typeArea div:after {
  position: absolute;
  content: '';
  width: 100px;
  height: 2px;
  top: 80px;
  left: 0px;
  bottom: 0;
  right: 0;
  margin: auto;
  background: #004d88;
}
.productionPublicContain .typeArea div {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 80px;
  line-height: 90px;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color: #004d88;
  
}

/*设置屏幕最大宽度为800px情况下a的值*/
@media screen and (max-width: 810px) {
  .navigationn a {
    width: 28%;
    margin-right: 3%;
  }
}
/*设置屏幕最大宽度为768px情况下a的值*/
@media screen and (max-width: 768px) {
  .navigationn a {
    font-size: 14px;
  }
}
.text1 {
  margin-top: 0px;
  margin-bottom: 60px;
  max-width: 100%;
  line-height: 2em;
  padding: 0px 300px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
