<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{block 'title'}}
    {{/block}}



    <link rel="stylesheet" href="../../public/css/css5/images.css">
    <link rel="stylesheet" href="../../public/css/css5/xiazai.css">
    <link rel="stylesheet" href="../../public/css/css5/jishu.css">

    <!--头尾样式模板-->
    <link rel="stylesheet" href="../../public/css/css5/layui.css">
    <script src="../../public/js/jquery-3.js"></script>
    <script src="../../public/js/layui.js"></script>
    <script src="../../public/js/jquery-3_002.js"></script>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="../../public/css/css5/basic.css">
    <link rel="stylesheet" href="../../public/css/css5/swiper.css">
    <link rel="shortcut icon" href="https://rossum-robot.com/static/index/rossum9ED2/pc/zh-cn/imagess/favIcon.png"
        sizes="32x32">
    <link rel="stylesheet" href="../../public/css/css5/animate.css">
    <script src="../../public/js/aos.js"></script>
    <link rel="stylesheet" href="../../public/css/css5/aos.css">
    <!-- 引入头部样式 -->
    <link rel="stylesheet" href="../../public/css/css5/callus.css">


    {{block 'style'}}
    {{/block}}
</head>

<body aos-easing="ease-in-sine" aos-duration="400" aos-delay="100">
    {{include '../_partials/header.html'}}

    {{block 'content'}}
    {{/block}}

    {{include '../_partials/footer.html'}}



    <script src="../../public/js/jquery-3.js"></script>
    <script src="../../public/js/swiper.js"></script>
    <script src="../../public/js/index.js"></script>

    

    {{block 'script'}}
    {{/block}}


</body>

</html>