@font-face{
    font-family: Arista2;
    src: url("https://www.996w.com/static/fonts/Source%20Han%20Sans%20CN%20Regular.woff2");

}
body{
    background: #fff;
    font-family: "Arista2";
}

.ofv{
    overflow: visible !important;
}

.head{
    background:#fff;
    position: fixed;
    width:100vw;
    z-index:200;
    overflow: hidden;
    top:0;
    transition:all .5s;
    box-shadow:0 0 5px rgba(0,0,0,.2);
}
.head>.typeArea{
    width:100%;
    height:80px;
    box-sizing: border-box;
    padding:0 15px;
    transition:all .5s;
    display: flex;
    align-items: center;
}
.head>.typeArea>.logoImg{
    display: inline-block;
}
.head>.typeArea>.logoImg>img{
    width:252px;
    height:100px;
}

.navigation{
    position: absolute;
    right:345px;
    top:0;
}
.navigation>div{
    display: block;
    height:52px;
    float:left;
    line-height:52px;
    border-radius:20px;
    text-align: center;
    padding:14px 35px;
    font-size:16px;
    cursor:pointer;
    color:#333;
    position: relative;
}
.navigation>div>.hideMenu{
    display: none;
}
.navigation>div:last-child{
    padding-right:0;
}
.navigation>div:hover{
    color:#004d88;
}
.navigation>div:hover:after{
    background: #004d88;
    width:44px;
}
.navigation>div.current{
    font-weight: bold;
    color:#004d88;
}
.navigation>div:after{
    position: absolute;
    content: '';
    width:0;
    height:3px;
    top:40px;
    left:0px;
    bottom:0;
    right:0;
    margin:auto;
    background: #fff;
    transition:all .5s;
}
.navigation>div.current:after{
    background: #004d88;
    width:44px;
}
.navigation>div:last-child:after{
    left:35px;
}
.navigation .current{
    /*background: #078F45;*/
    color:#333;
}

.head .searchImg{
    width:24px;
    height:24px;
    background:#7A7A7A;
    border-radius:4px;
    text-align: center;
    line-height:27.5px;/*24+14/2/2*/
    display: block;
    position: absolute;
    right:40px;
    top:19px;
}
.head .searchImg>img{
    width: 15px;
    height:14px;
}
.head .lang{
    color:#fff;
    position: absolute;
    right:0;
    top:19px;
    font-size:16px;
    cursor:pointer
}

.searchBox{
    width:160px;
    height: 30px;
    top:25px;
    position: absolute;
    right:42px;
}
.searchBox>input{
    width:100%;
    height:100%;
    border-radius: 12.5px;
    background: #EDEDED;
    padding-left: 23px;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding-right: 35px;
}
.searchBox>img{
    position: absolute;
    right: 12px;
    width:12px;
    height:12px;
    top:50%;
    margin-top:-6px;
    cursor: pointer;
}

.arrowsContain{
    width:100px;
    height:33px;
    position: absolute;
    right:200px;
    z-index:20;
    display: flex;
    top:23px;
}
.arrowsContain .leftContain{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    outline:none;
    cursor:pointer;
    color:#999;
    margin:0 auto;
    transition:all .5s;
}
.arrowsContain .leftContain:hover{
    color:#004d88;
}
.arrowsContain .leftContain:after{
    position: absolute;
    content: '';
    width: 2px;
    height: 20px;
    left:-40px;
    top:8px;
    background: #999999;
}
.arrowsContain .rightContain{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline:none;
    cursor:pointer;
    position: relative;

}

.hideMenu{
    width:150px;
    position: absolute;
    z-index:10;
    top:98%;
    left:0;

}

/* sjsjsjsj */
.navigation>div:hover .hideMenu{
    display: block;
}

.hideMenu>a{
    display: block;
    height:40px;
    background: #fff;
    text-align: center;
    line-height:40px;
    border: 1px solid #f0f0f0;
    font-size:14px;
    color:#999;
}
.hideMenu>a:hover{
    color:#004d88;
}


.head.scrollHide >.typeArea{
    height:0;
}

.head.pc{
    display: block;
}
.head.mobile{
    display: none;
}

.head.mobile .leftContain > ul{
    width: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.head.mobile .leftContain > ul li{
    position: relative;
    top:0;
    height: 3px;
    background: #999;
    transition:all 0.5s;
}
.head.mobile .leftContain > ul.active .m_first_li{
    top:8px;
    transform: rotate(45deg);
}
.head.mobile .leftContain > ul.active .m_none_li{
    display:none;
}
.head.mobile .leftContain > ul.active .m_second_li{
    top:-10px;
    transform: rotate(-45deg);
}

.head.mobile .arrowsContain{
    border:none;
}
.head.mobile .arrowsContain .leftContain:after{
    display:none;
}
.head.mobile .arrowsContain{
    width:150px;
}

.head.mobile >.typeArea{
    height:45px;
}
.head.mobile>.typeArea>.logoImg>img{
    height:45px;
}
.head.mobile>.typeArea>.logoImg{
    margin-top:0;
}

.head.mobile .arrowsContain{
    top:4px;
    width:100px;
}
.head.mobile .arrowsContain .leftContain{
    width:35%;
}
.head.mobile .arrowsContain{
    justify-content: space-between;
}

@media (max-width:1279px){

    .head.mobile>.typeArea>.logoImg>img{
        width:125px;
        height:auto;
        display: block;
    }
    .head.pc{
        display: none;
    }


    .head.mobile{
        display: block;
    }
    .arrowsContain{
        right:5%;
    }


}




.logoAndImgContain {
    padding-bottom: 50px;
    background: #fff;
}

.detailInfo {
    padding-left: 25px;
}

.detailInfo .infoContain {
    min-height: auto;
    line-height: unset;
    border-bottom: none;
    margin-bottom: 13px;
    padding:0;
}

.detailInfo .infoContain > .left {
    font-size: 16px;
    color: #666;
    font-weight: bold;
}

.detailInfo .infoContain > .right {
    font-size: 16px;
    color: #666;
}

.detailInfo .infoContain > .left.spec {
    min-width: unset;
    max-width: unset;
    color: #004d88;
    font-weight: normal;
}

@media (max-width: 1399px) {

    .detailInfo .infoContain > .left {
        font-size: .16rem !important;
    }

    .detailInfo .infoContain > .right {
        font-size: .16rem !important;
    }

    .detailInfo .infoContain > .right > img {
        width: 1.12rem;
        height: 1.12rem;
    }

}

@media (max-width: 799px) {

    .detailInfo .infoContain > .left {
        font-size: 16px !important;
    }

    .detailInfo .infoContain > .right {
        font-size: 16px !important;
    }

    .detailInfo {
        margin-top: 20px;
        padding-left: 0 !important;
    }

    .detailInfo .infoContain > .right > img {
        width: 120px;
        height: 120px;
    }

}