{{extend './_layouts/layout.html'}}

{{block 'title'}}
    <title>芜湖固高自动化技术有限公司</title>
{{/block}}

{{block 'style'}} {{/block}}

{{block 'content'}}
<!-- 大图 -->
<div class="otherBanner">
    <img src="/public/img/img4/aboutusbanner.png" alt="">
</div>

<!-- 联系我们 -->
<div class="productionPublicContain aos-init aos-animate" aos="fade-up">
    <div class="typeArea">
        <div>
            <span class="es6">CONTACT</span>联系我们
        </div>
    </div>
</div>

<!-- 文字部分 -->
<div class="contactUsTitle ptNone between aos-init aos-animate" aos="fade-up">
    <p class="contain mtNone">
        <span class="c b">芜湖固高自动化技术有限公司</span>
    </p>
    <p class="subContain">
        GOOGOLWH
    </p>
</div>

<!-- 联系方式及留言 -->
<div class="logoAndImgContain">
    <div class="typeArea">
        <div class="logoAndImg">
            <!-- 联系方式 -->
            <div class="right">
                <div class="imgContainn aos-init aos-animate" aos="fade-up">
                    <img class="imPC" src="/public/img/img4/machineBgg.jpg" alt="">
                </div>

                <div class="detailInfo aos-init aos-animate" aos="fade-up">

                    <div class="infoContain aos-init aos-animate" aos="fade-up">
                        <div class="left">电话:</div>
                        <div class="right">0553-5658901</div>
                    </div>
                    <div class="infoContain aos-init aos-animate" aos="fade-up">
                        <div class="left">Email：</div>
                        <div class="right">whgg@googoltechwh.com
                        </div>
                    </div>
                    <div class="infoContain aos-init aos-animate" aos="fade-up">
                        <div class="left">网址：</div>
                        <div class="right">www.googoltechwh.com</div>
                    </div>
                    <div class="infoContain aos-init aos-animate" aos="fade-up">
                        <div class="left">地址：</div>
                        <div class="right">安徽省芜湖市鸠江区电子产业园D座1、2层</div>
                    </div>

                    <div class="infoContain aos-init aos-animate" aos="fade-up">
                        <div class="left spec">全国服务热:0553-5658901</div>
                    </div>
                    <div class="infoContain aos-init aos-animate" aos="fade-up">
                        <div class="left n">扫企业公众号：</div>
                        <div class="right">
                            <img src="/public/img/img4/erweima.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <!-- 留言 -->
            <div class="left">
                <div class="formStyle">
                    <div class="inputContain">

                        <div class="threeInput aos-init aos-animate" aos="fade-up">
                            <div class="publicWidth">
                                <input type="text" id="name" placeholder="您的称呼">
                            </div>

                            <div class="publicWidth">
                                <input type="text" id="phone" placeholder="手机号码">
                            </div>
                        </div>
                        <div class="threeInput mt aos-init aos-animate" aos="fade-up">
                            <div class="publicWidth">
                                <input type="text" id="email" placeholder="邮箱 / QQ">
                            </div>

                            <div class="publicWidth">
                                <input type="text" id="city" placeholder="城市">
                            </div>
                        </div>
                        <div class="oneInput aos-init aos-animate" aos="fade-up">
                            <textarea id="content" placeholder="请输入您的留言内容"></textarea>
                        </div>

                    </div>

                    <div class="btnCom aos-init aos-animate" aos="fade-up">
                        <a class="publicBtn up" id="sendmsg">提交留言</a>
                        <a class="publicBtn reset" id="reset">重置留言</a>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- 留白 -->
<div class="otherCompany"></div>
{{/block}}

{{block 'script'}} {{/block}}