{{extend './_layouts/layout.html'}}

{{block 'title'}}
<title>下载</title>
{{/block}}


{{block 'style'}}
{{/block}}


{{block 'content'}}
<div class="container" style="width: 100%;  padding: 0px;">
    <!--img-responsive代表响应式图片-->
    <img src="../../public/images/01.jpg" class="img-responsive" width="100%">
</div>
<div class="articleee container">
    <div class="typeArea">
        <div class="productionPublicContain aos-init aos-animate">
            <div class="typeArea">
                <div class="ce6"><span>SERVICE</span>服务与支持
                </div>
            </div>
        </div>
        <div class="navigationn clearfix ">
            <a class="current col-xs-4" href="./service_support.html">常见问题</a>
            <a href="./ggziliao_xiazai.html" class="col-xs-4">资料下载</a>
            <a href="#" class="col-xs-4"
                style="color: white; background-color: #004d88; text-decoration: none;">技术支持</a>
        </div>
        <div class="text1">
            <p><br></p>
            <p class="t1">
                感谢选用固高运动控制器</p>
            <p>为回报客户，我们将以品质一流的运动控制器、完善的售后服务、高效的技术支持，帮助您建立自己的控制系统。</p>
            <p><br></p>
            <p class="t1">
                固高产品的更多信息</p>
            <p>芜湖固高科技的网址是 http://www.googoltechwh.com
                。在我们的网页上可以得到更多关于公司和产品的信息，包括：公司简介、产品介绍、技术支持、产品最新发布等等。</p>
            <p>您也可以通过电话（0553-5658901）咨询关于公司和产品的</p>
            <p><br></p>
            <p>
            </p>
            <p class="t1">
                技术支持和售后服务</p>
            <p>您可以通过以下途径获得我们的技术支持和售后服务：</p>

            <p>电子邮件： support@googoltechwh.com
            </p>
            <p>电 话： 0553-5658901</p>
            <p>发 函 至： 安徽省芜湖市鸠江区电子产业园D座固高自动化技术有限公司</p>
            <p>邮 编： 241000</p>
            <p><br></p>
        </div>
    </div>
</div>
{{/block}}

{{block 'script'}}
{{/block}}