{{extend './_layouts/layout.html'}}

{{block 'title'}}
    <title>芜湖固高自动化技术有限公司</title>
{{/block}}

{{block 'style'}} {{/block}}

{{block 'content'}}
<!-- 大图 -->
<div class="otherBanner">
    <img src="/public/img/img4/newsbanner.jpg" alt="">
</div>

<!-- 新闻中心 -->
<div class="productionPublicContain aos-init aos-animate" aos="fade-up">
    <div class="typeArea">
        <div>
            <span class="es6">NEWS</span>新闻中心
        </div>
    </div>
</div>

<!-- 内容部分 -->
<div class="newsListContain">

    <div class="newsList aos-init aos-animate" onclick="javascript:window.location.href='news4.html'" aos="fade-up">
        <div class="typeArea">
            <div class="imgArticleContain">
                <div class="imgArticle">
                    <a class="imgArticleLeftContain">
                        <img class="imgArticleLeft" src="/public/img/img4/newsLogo.jpg" alt="">
                    </a>
                    <div class="imgArticleRight">
                        <p class="title">芜湖固高自动化技术有限公司荣获2020科学进步一等奖</p>
                        <p class="time">2021-04-20 08:00:00</p>
                        <p class="contain"></p>
                        <a class="seeMore">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="newsList aos-init aos-animate" onclick="javascript:window.location.href='news1.html'" aos="fade-up">
        <div class="typeArea">
            <div class="imgArticleContain">
                <div class="imgArticle">
                    <a class="imgArticleLeftContain">
                        <img class="imgArticleLeft" src="/public/img/img4/图片3.png" alt="images/图片3.png">
                    </a>
                    <div class="imgArticleRight">
                        <p class="title">国家工程教育认证专家组莅临考察安徽工程大学智能制造实验室项目现场</p>
                        <p class="time">2019-06-03 00:00:00</p>
                        <p class="contain"></p>
                        <a class="seeMore">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="newsList aos-init aos-animate" onclick="javascript:window.location.href='news2.html'" aos="fade-up">
        <div class="typeArea">
            <div class="imgArticleContain">
                <div class="imgArticle">
                    <a class="imgArticleLeftContain">
                        <img class="imgArticleLeft" src="/public/img/img4/图片1.png" alt="images/图片1.png">
                    </a>
                    <div class="imgArticleRight">
                        <p class="title">创新驱动发展、科技引领未来——抓住机遇、展现风采</p>
                        <p class="time">2019-05-26 00:00:00</p>
                        <p class="contain"></p>
                        <a class="seeMore">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="newsList aos-init aos-animate" onclick="javascript:window.location.href='news3.html'" aos="fade-up">
        <div class="typeArea">
            <div class="imgArticleContain">
                <div class="imgArticle">
                    <a class="imgArticleLeftContain">
                        <img class="imgArticleLeft" src="/public/img/img4/news3tu6.png" alt="images/news3tu6.png">
                    </a>
                    <div class="imgArticleRight">
                        <p class="title">李泽湘教授获得国际大奖——我国工程师背景的企业家的时代已经到来</p>
                        <p class="time">2019-03-12 00:00:00</p>
                        <p class="contain"></p>
                        <a class="seeMore">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="newsList aos-init aos-animate" onclick="javascript:window.location.href='news5.html'" aos="fade-up">
        <div class="typeArea">
            <div class="imgArticleContain">
                <div class="imgArticle">
                    <a class="imgArticleLeftContain">
                        <img class="imgArticleLeft" src="/public/img/img4/news5tu1.png" alt="images/news5tu1.png">
                    </a>
                    <div class="imgArticleRight">
                        <p class="title">G60科技走廊机器人产业联盟在芜湖成立，芜湖固高总经理于晓东先生当选联盟秘书长</p>
                        <p class="time">2018-12-21 00:00:00</p>
                        <p class="contain"></p>
                        <a class="seeMore">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="newsList aos-init aos-animate" onclick="javascript:window.location.href='news6.html'" aos="fade-up">
        <div class="typeArea">
            <div class="imgArticleContain">
                <div class="imgArticle">
                    <a class="imgArticleLeftContain">
                        <img class="imgArticleLeft" src="/public/img/img4/news6tu1.png" alt="images/news6tu1.png">
                    </a>
                    <div class="imgArticleRight">
                        <p class="title">中铁十四局长江隧道指挥部莅临我司现场调研</p>
                        <p class="time">2018-12-18 00:00:00</p>
                        <p class="contain"></p>
                        <a class="seeMore">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="newsList aos-init aos-animate" onclick="javascript:window.location.href='news7.html'" aos="fade-up">
        <div class="typeArea">
            <div class="imgArticleContain">
                <div class="imgArticle">
                    <a class="imgArticleLeftContain">
                        <img class="imgArticleLeft" src="/public/img/img4/news7tu1.png" alt="images/news7tu1.png">
                    </a>
                    <div class="imgArticleRight">
                        <p class="title">安徽省教育厅领导莅临考察安徽师范大学智能实验室</p>
                        <p class="time">2018-06-28 00:00:00</p>
                        <p class="contain"></p>
                        <a class="seeMore">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="newsList aos-init aos-animate" onclick="javascript:window.location.href='news8.html'" aos="fade-up">
        <div class="typeArea">
            <div class="imgArticleContain">
                <div class="imgArticle">
                    <a class="imgArticleLeftContain">
                        <img class="imgArticleLeft" src="/public/img/img4/news8tu1_1.png" alt="images/news8tu1.png">
                    </a>
                    <div class="imgArticleRight">
                        <p class="title">固高科技喜提智能控制类-驱动与执行产品奖</p>
                        <p class="time">2018-03-17 00:00:00</p>
                        <p class="contain"></p>
                        <a class="seeMore">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="newsList aos-init aos-animate" onclick="javascript:window.location.href='news9.html'" aos="fade-up">
        <div class="typeArea">
            <div class="imgArticleContain">
                <div class="imgArticle">
                    <a class="imgArticleLeftContain">
                        <img class="imgArticleLeft" src="/public/img/img4/news9tu1.png" alt="images/news9tu1.png">
                    </a>
                    <div class="imgArticleRight">
                        <p class="title">公司展开机器人视觉拾取工作站调试培训工作</p>
                        <p class="time">2018-02-25 00:00:00</p>
                        <p class="contain"></p>
                        <a class="seeMore">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
       
    <div class="newsList aos-init aos-animate" onclick="javascript:window.location.href='news10.html'" aos="fade-up">
        <div class="typeArea">
            <div class="imgArticleContain">
                <div class="imgArticle">
                    <a class="imgArticleLeftContain">
                        <img class="imgArticleLeft" src="/public/img/img4/news10tu1.png" alt="images/news10tu1.png">
                    </a>
                    <div class="imgArticleRight">
                        <p class="title">祝贺17年我司首个教学平台实训教育基地顺利建成</p>
                        <p class="time">2017-06-28 00:00:00</p>
                        <p class="contain"></p>
                        <a class="seeMore">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="newsList aos-init aos-animate" onclick="javascript:window.location.href='news11.html'" aos="fade-up">
        <div class="typeArea">
            <div class="imgArticleContain">
                <div class="imgArticle">
                    <a class="imgArticleLeftContain">
                        <img class="imgArticleLeft" src="/public/img/img4/news11tu1.png" alt="images/news11tu1.png">
                    </a>
                    <div class="imgArticleRight">
                        <p class="title">我司与某科技公司签署战略合作协议</p>
                        <p class="time">2017-03-06 00:00:00</p>
                        <p class="contain"></p>
                        <a class="seeMore">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>      
    
    <div class="newsList aos-init aos-animate" onclick="javascript:window.location.href='news12.html'" aos="fade-up">
        <div class="typeArea">
            <div class="imgArticleContain">
                <div class="imgArticle">
                    <a class="imgArticleLeftContain">
                        <img class="imgArticleLeft" src="/public/img/img4/news12tu2.png" alt="images/news12tu2.png">
                    </a>
                    <div class="imgArticleRight">
                        <p class="title">热烈庆祝我公司焊接项目圆满完成！</p>
                        <p class="time">2017-02-25 00:00:00</p>
                        <p class="contain"></p>
                        <a class="seeMore">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
       
    <div class="newsList aos-init aos-animate" onclick="javascript:window.location.href='news13.html'" aos="fade-up">
        <div class="typeArea">
            <div class="imgArticleContain">
                <div class="imgArticle">
                    <a class="imgArticleLeftContain">
                        <img class="imgArticleLeft" src="/public/img/img4/news13tu1.png" alt="images/news13tu1.png">
                    </a>
                    <div class="imgArticleRight">
                        <p class="title">虚拟实现及云平台工具</p>
                        <p class="time">2017-02-09 00:00:00</p>
                        <p class="contain"></p>
                        <a class="seeMore">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="newsList aos-init aos-animate" onclick="javascript:window.location.href='news14.html'" aos="fade-up">
        <div class="typeArea">
            <div class="imgArticleContain">
                <div class="imgArticle">
                    <a class="imgArticleLeftContain">
                        <img class="imgArticleLeft" src="/public/img/img4/news14tu1.png" alt="images/news14tu1.png">
                    </a>
                    <div class="imgArticleRight">
                        <p class="title">分散式小污染源水处理</p>
                        <p class="time">2017-02-09 00:00:00</p>
                        <p class="contain"></p>
                        <a class="seeMore">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="newsList aos-init aos-animate" onclick="javascript:window.location.href='news15.html'" aos="fade-up">
        <div class="typeArea">
            <div class="imgArticleContain">
                <div class="imgArticle">
                    <a class="imgArticleLeftContain">
                        <img class="imgArticleLeft" src="/public/img/img4/newslogo.jpg" alt="images/newslogo.jpg">
                    </a>
                    <div class="imgArticleRight">
                        <p class="title">立志于鞠躬 固高科技人才战略进入第二阶段</p>
                        <p class="time">2017-02-08 00:00:00</p>
                        <p class="contain"></p>
                        <a class="seeMore">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="newsList aos-init aos-animate" onclick="javascript:window.location.href='news19.html'" aos="fade-up">
        <div class="typeArea">
            <div class="imgArticleContain">
                <div class="imgArticle">
                    <a class="imgArticleLeftContain">
                        <img class="imgArticleLeft" src="/public/img/img4/newslogo.jpg" alt="images/newslogo.jpg">
                    </a>
                    <div class="imgArticleRight">
                        <p class="title">新汉、固高联姻抢攻工业4.0与机器人大饼</p>
                        <p class="time">2016-11-03 00:00:00</p>
                        <p class="contain"></p>
                        <a class="seeMore">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="newsList aos-init aos-animate" onclick="javascript:window.location.href='news17.html'" aos="fade-up">
        <div class="typeArea">
            <div class="imgArticleContain">
                <div class="imgArticle">
                    <a class="imgArticleLeftContain">
                        <img class="imgArticleLeft" src="/public/img/img4/news17tu1.jpg" alt="images/news17tu1.jpg">
                    </a>
                    <div class="imgArticleRight">
                        <p class="title">固高科技长沙智能机器人研究院揭幕仪式暨湖南智能机器人高峰论坛圆满举行</p>
                        <p class="time">2016-06-28 00:00:00</p>
                        <p class="contain"></p>
                        <a class="seeMore">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="newsList aos-init aos-animate" onclick="javascript:window.location.href='news16.html'" aos="fade-up">
        <div class="typeArea">
            <div class="imgArticleContain">
                <div class="imgArticle">
                    <a class="imgArticleLeftContain">
                        <img class="imgArticleLeft" src="/public/img/img4/newslogo.jpg" alt="images/newslogo.jpg">
                    </a>
                    <div class="imgArticleRight">
                        <p class="title">长沙智能机器人研究院特色方案</p>
                        <p class="time">2015-06-28 00:00:00</p>
                        <p class="contain"></p>
                        <a class="seeMore">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="newsList aos-init aos-animate" onclick="javascript:window.location.href='news20.html'" aos="fade-up">
        <div class="typeArea">
            <div class="imgArticleContain">
                <div class="imgArticle">
                    <a class="imgArticleLeftContain">
                        <img class="imgArticleLeft" src="/public/img/img4/news20tu1.png" alt="images/news20tu1.png">
                    </a>
                    <div class="imgArticleRight">
                        <p class="title">固高科技：做自动化领域的“黄埔军校”</p>
                        <p class="time">2016-06-02 00:00:00</p>
                        <p class="contain"></p>
                        <a class="seeMore">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="newsList aos-init aos-animate" onclick="javascript:window.location.href='news18.html'" aos="fade-up">
        <div class="typeArea">
            <div class="imgArticleContain">
                <div class="imgArticle">
                    <a class="imgArticleLeftContain">
                        <img class="imgArticleLeft" src="/public/img/img4/newslogo.jpg" alt="images/newslogo.jpg">
                    </a>
                    <div class="imgArticleRight">
                        <p class="title">重磅好消息！固高科技获2015年度国家科技进步奖</p>
                        <p class="time">2016-01-10 00:00:00</p>
                        <p class="contain"></p>
                        <a class="seeMore">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 留白 -->
<div class="otherCompany"></div>
{{/block}}

{{block 'script'}} {{/block}}